defaults:
  - _self_

hydra:
  run:
    dir: outputs/${now:%Y-%m-%d}/${now:%H-%M-%S}

wandb:
  project: "one-pass-distill"
  entity: null  # Set your wandb entity here if needed
  name: "${now:%Y-%m-%d_%H-%M-%S}"
  mode: "online" # or "disabled" for debugging

data:
  batch_size: 64
  num_workers: 4
  dataset_name: cifar100 # or "cifar10", etc.
  input_dim: 3*32*32 # for synthetic data:
  num_samples: 10000 # for synthetic data

model:
  teacher_path: /home/junesang/distill/cifar100_resnet56-f2eff4c8.pt
  teacher_name: resnet56
  student_name: resnet20
  teacher_hidden_dim: 256
  student_hidden_dim: 128
  output_dim: 100 # Number of classes or output features
  dropout: 0.0 # Dropout probability for student model

distill:
  method: kd
  gamma_fn: tanh
  solver_device: "cuda"
  epochs: 240
  lr: 0.05
  momentum: 0.9
  weight_decay: 5e-4
  temperature: 4.0
  alpha: 1.0
  # 2D PRISM Hyperparameters
  var_ema_decay: 0.99 # EMA decay for variance estimation
  dir_ema_decay: 0.9 # EMA decay for direction estimation
